In [17]:
import pandas as pd
import seaborn as sns

In [18]:
tips = sns.load_dataset('tips')
tips.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [19]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [20]:
# sex type을 카테고리에서 문자형으로 바꾸기
# astype을 써서 category -> object로 변경함
tips['sex_str'] = tips['sex'].astype(str)

In [21]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [22]:
tips['total_bill'] = tips['total_bill'].astype(str)

In [23]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    object
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(1), int64(1), object(2)
memory usage: 9.3+ KB

In [24]:
tips['total_bill'] = tips['total_bill'].astype(float)

In [25]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [32]:
tips_sub = tips.head(10)
tips_sub.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'
# 문자열이 있으면 숫자형태가 될 수 없고 당연히 object가 된다
# 위에서 float였는데 object로 변경됨
tips_sub
# tips_sub.info()

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

In [33]:
# ValueError: could not convert string to float: 'missing'
# missing때문에 숫자로 바꿀 수 없음. -> astype으로는 불가능
# to_numeric 메소드를 사용하면 된다.
tips_sub['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [35]:
from numpy import NaN
type(NaN)
# 정수인데 값이 비어있으면 float형태로 읽어들인다.
# nan은 float형이다.

float

In [38]:
# 무슨말인지 이해못했음
pd.to_numeric(tips_sub['total_bill'], errors='coerce')

0    16.99
1      NaN
2    21.01
3      NaN
4    24.59
5      NaN
6     8.77
7      NaN
8    15.04
9    14.78
Name: total_bill, dtype: float64

In [40]:
tips.info()
# category형이 4개 있음
# sex column 자료형 category를 문자형(object)로 변경하기
# 현재 용량 : 9.3
tips['sex'] = tips['sex'].astype(str)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [42]:
# 변경 후 용량 증가 : 9.3 -> 10.8
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB

In [43]:
# sex column 다시 카테고리로 변경하기
# 용량 다시 줄어듦 : 10.8 -> 9.3
tips['sex'] = tips['sex'].astype('category')

In [44]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [45]:
tips['sex'].cat.categories
# sex열의 value들 : female, male을 리스트로 만들어

Index(['Female', 'Male'], dtype='object')

In [46]:
tips['day'].cat.categories

Index(['Thur', 'Fri', 'Sat', 'Sun'], dtype='object')

In [47]:
tips

     total_bill   tip     sex smoker   day    time  size sex_str
0         16.99  1.01  Female     No   Sun  Dinner     2  Female
1         10.34  1.66    Male     No   Sun  Dinner     3    Male
2         21.01  3.50    Male     No   Sun  Dinner     3    Male
3         23.68  3.31    Male     No   Sun  Dinner     2    Male
4         24.59  3.61  Female     No   Sun  Dinner     4  Female
..          ...   ...     ...    ...   ...     ...   ...     ...
239       29.03  5.92    Male     No   Sat  Dinner     3    Male
240       27.18  2.00  Female    Yes   Sat  Dinner     2  Female
241       22.67  2.00    Male    Yes   Sat  Dinner     2    Male
242       17.82  1.75    Male     No   Sat  Dinner     2    Male
243       18.78  3.00  Female     No  Thur  Dinner     2  Female

[244 rows x 8 columns]