In [1]:
# 간단한 함수 만들기

In [2]:
def my_sq(x):
    return x ** 2

In [3]:
def my_exp(x,n):
    return x ** n
my_sq(3)

9

In [4]:
my_exp(3,3)

27

In [8]:
import pandas as pd

In [36]:
df = pd.DataFrame({'a':[10, 20, 30], 'b':[40, 50, 60]})

In [37]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [38]:
df['a'].apply(my_exp, n=3)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [39]:
def print_me(x):
    print(x)

In [40]:
# apply는 값을 넣어주면 리턴값을 받음. 리턴되는 값을 따로 지정해준 게 없으니 none임.
df.apply(print_me, axis=1)

a    10
b    40
Name: 0, dtype: int64
a    20
b    50
Name: 1, dtype: int64
a    30
b    60
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

In [41]:
df.apply(my_exp, n=2)

     a     b
0  100  1600
1  400  2500
2  900  3600

In [42]:
df.apply(my_exp, n=2, axis=0)

     a     b
0  100  1600
1  400  2500
2  900  3600

In [43]:
df.apply(my_exp, n=2, axis=1)

     a     b
0  100  1600
1  400  2500
2  900  3600

In [44]:
def data_sum(x):
    return sum(x)

In [45]:
df.apply(data_sum, axis=0)

a     60
b    150
dtype: int64

In [46]:
df.apply(data_sum, axis=1)

0    50
1    70
2    90
dtype: int64

In [47]:
def data_sum(x):
    print(x[0])
    print(x[1])
    return x[0] * x[1]

In [48]:
df[['a','b']].apply(data_sum, axis=0)

10
20
40
50

a     200
b    2000
dtype: int64

In [49]:
df[['a','b']].apply(data_sum, axis=1)

10
40
20
50
30
60

0     400
1    1000
2    1800
dtype: int64